@font-face {
  font-family: font_logo;
  src: url(../fonts/Chewy/Chewy-Regular.ttf);
}

@font-face {
  font-family: font_logo1;
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

html{
  display: flex;
  justify-content: center;
}

body{
  margin:auto;
  display: flex;
  flex-direction: column;
}

div{
  border: 1px solid blue;
}

section, header{
  border: 1px solid black;
}

#socialNetworks{
  display: flex;
  justify-content: flex-end;
}

#socialNetworks i{
  padding-left: 10px;
}


#logo p{
  text-align: center;
  color:rgba(242,193,19,1);
  font-size: 90px;
  font-family: font_logo1;
}

#logo span{
  color:black;
}




.radioImage{
    width: 200px;
    border: 1px solid black;
}

/* HIDE RADIO */
[type=radio] { 
    /*position: absolute;*/
    opacity: 0;
    width: 0;
    height: 0;
  }

  .card{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    /*border: 1px solid black;*/
    border-radius: 15px;
  }

  .card .container{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 100%; /* Adjust this value to move the positioned div up and down */
    background:rgba(236, 87, 107,0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 100%; /* Set the width of the positioned div */
    border-radius: 0 0 15px 15px;
}

.radioImage:hover, .card:hover{
    width: 220px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card {
  /* Add shadows to create the "card" effect 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
  transition: 0.3s;
  border-radius: 15px;
  width: 200px;
  
  opacity: .8;*/
  
}

/* On mouse-over, add a deeper shadow */
/*
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}*/

/* Add some padding inside the card container */
.container {
  /*border: 1px solid red;*/
  /*padding: 1px 10px;
  background-color:rgba(236, 87, 107,1);
  border-radius:  0 0 15px 15px;*/
}


/*
[type=radio]:hover, .radioImage:hover, .container:hover{
  cursor:pointer;
  
}


.card:hover, .radioImage:hover{
  width:220px;
}*/

/*
[type=radio]:hover, .card:hover{
  cursor:pointer;
}*/

/*
[type=radio]:checked + img{
  cursor: pointer;
}*/
  
  /* IMAGE STYLES 
  [type=radio] + img{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    transition: 0.3s;
  }

  [type=radio]:hover + img, [type=radio]:checked + img{
      cursor: pointer;
  }

  [type=radio]:hover + img {
    opacity: 1;
    width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }*/
  
  /* CHECKED STYLES 
  [type=radio]:checked + img {
    outline: 2px solid rgb(250, 242, 134);
    width: 220px;
  }*/
  
  /*
  #overlay {
    position: fixed; /* Sit on top of the page content */
  /*  display: none; /* Hidden by default */
  /*  width: 100%; /* Full width (cover the whole page) */
   /* height: 100%; /* Full height (cover the whole page) */
   /* top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  /*  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   /* cursor: pointer; /* Add a pointer on hover 
  }*/

  /*
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }*/

